ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
setuptools

# local package gets installed in our env (e.g:- src folder)
# setup.py and pyproject.toml should be present in the same folder (helps in package installation)
# So the modules/functions in src folder can be imported/communicated in other places (outside src folder)
-e .